# Automatic Card Generation from Template 
## *Image Manipulation using Python*

---

```bash
pip install pillow
```

In [1]:
import pandas as pd
from PIL import Image, ImageDraw, ImageFont

In [2]:
df = pd.read_csv("students.csv")

In [3]:
df

   id             name         dob class
0   1  Captain America  04/06/1918   XII
1   2         Iron Man  29/07/1970    XI
2   3             Hulk  08/12/1968    XI
3   4             Thor  00/00/0000   XII
4   5      Black Widow  01/01/1984     X
5   6          Hawkeye    7/1/1971     X
6   7   Doctor Strange  01/01/1930   XII
7   8       Spider Man  10/08/2001  VIII

In [4]:
records = df.to_dict(orient='record')

In [5]:
font = ImageFont.truetype("OpenSans-Semibold.ttf", size=25)

In [6]:
def generate_card(data):
    template = Image.open("template.png")
    pic = Image.open(f"photos/{data['id']}.jpg").resize((165, 190), Image.ANTIALIAS)
    template.paste(pic, (25, 75, 190, 265))
    draw = ImageDraw.Draw(template)
    draw.text((315, 80), str(data['id']), font=font, fill='black')
    draw.text((315, 125), data['name'], font=font, fill='black')
    draw.text((315, 170), data['class'], font=font, fill='black')
    draw.text((315, 215), data['dob'], font=font, fill='black')
    return template

In [8]:
for record in records:
    card = generate_card(record)
    card.save(f"cards/{record['id']}.jpg")